{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'paperzapper/css/form.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
  <form method="POST">
    {% csrf_token %}

    <label for="username">User Name:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <label for="password-reenter">Re-Enter Password:</label>
    <input type="password" name="password-reenter" required>

    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" required>

    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" required>

    <input type="submit">
  </form>
</div>

{% endblock %}
