.upload-form {
  display: flex;
  justify-content: center;
}

.upload-form form {
  width: 500px;
  max-width: 100%;
  display: grid;
}

.upload-form form label {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 10px;
}

.upload-form form input {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 12px;
}

.upload-form form label[for="notes"] {
  grid-column-start: 1;
  grid-column-end: 3;
}

.upload-form form textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  resize: none;
  box-shadow: 0 0 5px #000;
  border: 20px solid #ECECEC;
  border-radius: 5px;
  font-size: 16px;
  overflow-y: scroll;
}

.upload-form form input[type="submit"] {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  border: solid 2px #573373;
  display: inline-block;
  background: #DBC4ED;
  border-radius: 5px;
  font-size: 20px;
}
